@model sagedalaaedeinw4.Models.entities.Product

<table class="table table-bordered">

    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>StockQuantity</td>
            <td>Category</td>
        </tr>
    </thead>


    <tbody>

        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Description</td>
            <td>@Model.Price</td>
            <td>@Model.StockQuantity</td>
            <td>@Model.Category</td>

        </tr>


    </tbody>
</table>
