@model sagedalaaedeinw4.Models.entities.Customer


<table class="table table-bordered">

    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
            <td>Address</td>

        </tr>
    </thead>


    <tbody>

        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
            <td>@Model.Email</td>
            <td>@Model.Phone</td>
            <td>@Model.Address</td>


        </tr>


    </tbody>
</table>
